header{
    display: flex;
    background-color: gray;
}

.logo img{
    display: flex;
    width: 4%;
    ackground-color: white;
    border-radius: 50px;
    padding: 12px;
}
.logo h1{
    color: gold;
}
.logo th{
    background-color: palegoldenrod;
    border-radius: 2px;
    padding: 12px;
    width:100px;
    box-shadow: 10px 10px 24px 12px gray;
}

.iconos img{
    width:25px;
}
.botones{
    width: 610px;
    height: 60px;;
    font-family: "Source Sans 3";
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
.cuadro{
    display: inline-block;
}
.gorraarg{
    background-color: white;
    border-radius: 22px;
    padding: 12px;
    width:300px;
    box-shadow: 10px 10px 24px 12px black;
}

.gorraarg img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.gorraarg p{
    font-size: 26px;
    font-weight: 600;
    color: red;
}

.gorraarg h3{
    color: blue;
    
}

